/* line 1, scss/_compass-resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, scss/_compass-resets.scss */
html {
  line-height: 1;
}

/* line 26, scss/_compass-resets.scss */
ol, ul {
  list-style: none;
}

/* line 30, scss/_compass-resets.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, scss/_compass-resets.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 41, scss/_compass-resets.scss */
q, blockquote {
  quotes: none;
}

/* line 45, scss/_compass-resets.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 50, scss/_compass-resets.scss */
a img {
  border: none;
}

/* line 54, scss/_compass-resets.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 349, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.fw-m-bold {
  font-weight: 500;
}

/* line 354, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.fw-b {
  font-weight: 700;
}

/** custom styles for PS Canvas form Dialog**/
/* line 11, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer {
  height: 100% !important;
  width: 100% !important;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #484848;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 31, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer.ui-draggable .ui-dialog-titlebar {
  cursor: default;
}

/* line 36, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .ui-dialog-title {
  color: #ffffff;
  display: block;
  /* text-align: center; */
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 20px 0 10px;
}

/* line 51, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2763a6;
  height: auto;
  min-height: 60px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 62, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header h1 {
  color: #fff;
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 3rem;
  white-space: nowrap;
  margin: 0 20px 0 10px;
}

/* line 73, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header .header-btn-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 78, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header .header-btn-wrapper .nameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 0 16px;
}

/* line 84, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header .header-btn-wrapper .nameContainer div,
.canvasFormDialog.customCubeContainer header .header-btn-wrapper .nameContainer div a {
  color: #fff !important;
}

/* line 89, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header .header-btn-wrapper .nameContainer svg {
  margin-right: 4px;
}

/* line 99, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8rem !important;
  font-weight: 500;
  color: #2776BD !important;
  height: 24px;
  line-height: 0.3;
  border-radius: 4px;
  background-color: #fff !important;
  padding: 8px 16px;
  margin: 0 8px 8px 0;
  border: 1px solid #2776bd !important;
  white-space: nowrap;
}

/* line 113, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header button:last-of-type {
  margin-right: 0;
}

/* line 118, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header button:hover {
  background-color: #C4D9ED !important;
}

/* line 123, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer header button:active {
  background-color: #9DC0E1 !important;
}

/* line 132, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .powerCubeContent {
  width: 80%;
  padding: 16px;
  background-color: #f5f5f5;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 144, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer #topBanner {
  margin-bottom: 16px;
  color: #e53953;
  font-size: 13px;
}

/* line 151, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 158, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section h3 {
  font-size: 1rem;
  margin-bottom: 16px;
}

/* line 164, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section a {
  text-decoration: none;
  color: #2776bd;
}

/* line 170, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .headerItem button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8rem !important;
  font-weight: 500;
  color: #2776BD !important;
  height: 24px;
  line-height: 0.3;
  border-radius: 4px;
  background-color: #fff !important;
  padding: 8px 16px;
  margin-right: 8px;
  border: 1px solid #2776bd !important;
  margin-bottom: 16px;
}

/* line 184, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .headerItem button:last-of-type {
  margin-right: 0;
}

/* line 188, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .headerItem button:hover {
  background-color: #C4D9ED !important;
}

/* line 193, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .headerItem button:active {
  background-color: #9DC0E1 !important;
}

/* line 200, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .notesComponent .label {
  font-size: 13px;
  font-weight: inherit;
  padding-left: 0;
}

/* line 207, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section  textarea,
.canvasFormDialog.customCubeContainer .section .customCubeContainer la-input,
.canvasFormDialog.customCubeContainer .section .customCubeContainer input[id="la-input"],
.canvasFormDialog.customCubeContainer .section input.ui-autocomplete-input,
.canvasFormDialog.customCubeContainer .section input {
  border: 1px solid #B7BFC8;
  background-color: #fff;
  padding: 4px 8px !important;
  border-radius: 4px;
}

/* line 219, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section  textarea {
  width: 100%;
  margin-top: 8px;
  height: 60px;
}

/* line 226, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .customCubeContainer la-input {
  max-width: 450px;
  height: 28px;
}

/* line 232, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .subSection .canvasRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 241, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .responsive-columns  {
  max-width: 33.33%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 400px;
  padding-right: 16px;
  margin-bottom: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 249, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section  .label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 260, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 265, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer input.required,
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer .required input,
.canvasFormDialog.customCubeContainer .section  .menuButtonContainer.required button {
  border-left: 4px solid #D0021B;
}

/* line 270, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer input.required:hover,
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer .required input:hover,
.canvasFormDialog.customCubeContainer .section  .menuButtonContainer.required button:hover {
  border-left: 4px solid #D0021B !important;
}

/* line 275, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer input.required:focus,
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer .required input:focus,
.canvasFormDialog.customCubeContainer .section  .menuButtonContainer.required button:focus {
  border-left: 4px solid #D0021B !important;
}

/* line 280, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer input.required:active,
.canvasFormDialog.customCubeContainer .section  .cubeComponentContainer .required input:active,
.canvasFormDialog.customCubeContainer .section  .menuButtonContainer.required button:active {
  border-left: 4px solid #D0021B !important;
}

/* line 289, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .section .coverageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

/* line 298, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 303, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .label {
  color: #666;
  margin: 0 8px 8px 0;
  font-size: 13px;
  font-weight: inherit;
  padding-left: 0;
}

/* line 312, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .menuButtonContainer {
  margin-right: 8px;
  height: 24px;
}

/* line 318, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .editableLabelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 323, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .control input,
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .control-indicator {
  top: 0;
}

/* line 329, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .control {
  padding-left: 1rem;
}

/* line 336, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem.address-picker {
  margin-bottom: 16px;
}

/* line 349, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem.idContainer {
  margin-bottom: 16px;
}

/* line 356, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .idContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 361, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .cubeComponentContainer,
.canvasFormDialog.customCubeContainer .full-name-wrapper,
.canvasFormDialog.customCubeContainer .dateContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 368, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input {
  margin-right: 8px;
}

/* line 371, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input:last-of-type {
  margin-right: 0;
}

/* line 378, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.hasDatepicker,
.canvasFormDialog.customCubeContainer .dateContainer input.ui-timepicker-input {
  background-size: 20px 20px !important;
  background-position: 4px !important;
}

/* line 385, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.hasDatepicker {
  background: url("../images/png/icon-calendar--default.png") no-repeat;
}

/* line 393, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.hasDatepicker:focus {
  background: url("../images/png/icon-calendar--focus.png") no-repeat;
}

/* line 398, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.hasDatepicker[disabled] {
  background: url("../images/png/icon-calendar--disabled.png") no-repeat;
}

/* line 405, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.ui-timepicker-input {
  background: url("../images/png/icon-time--default.png") no-repeat;
}

/* line 413, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.ui-timepicker-input:focus {
  background: url("../images/png/icon-time--focus.png") no-repeat;
}

/* line 418, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.ui-timepicker-input[disabled] {
  background: url("../images/png/icon-time--disabled.png") no-repeat;
}

/* line 426, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer #addressFields .componentContainer.subSectionItem {
  margin-bottom: 8px;
}

/* line 433, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer #MailingAddressGoogleMap {
  margin-top: 16px;
}

/* line 438, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .header-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

/* line 445, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .instruction-text {
  font-size: .8rem;
  margin-bottom: 8px;
}

/* line 451, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .tab-panel-left-input-section {
  min-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 461, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .tab-panel-right-header-section {
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #CDCDCD;
}

/* line 468, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .tab-panel-right-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 476, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .tab-panel-right-controls.control-hidden {
  display: none;
}

/* line 483, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .menuButton {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #FFF;
  padding-top: 2px !important;
  padding-right: 20px !important;
  padding-bottom: 2px !important;
  padding-left: 8px !important;
  text-align: left;
  cursor: pointer;
  line-height: 0;
  font-family: "Roboto", sans-serif !important;
}

/* line 511, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 517, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .menuButton:focus, .canvasFormDialog.customCubeContainer .menuButton:active {
  border: 1px solid #2776BD;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 523, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .menuButton[disabled] {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

/* line 531, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .menuButton[required], .canvasFormDialog.customCubeContainer .menuButton.menuButton.requiredField, .canvasFormDialog.customCubeContainer .menuButton.requiredField.error {
  border-left: 4px solid #D0021B;
}

/* line 536, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .menuButton.error {
  border: 1px solid #D0021B;
}

/* line 544, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .menuButtonContainer:focus {
  outline: none;
  border: 0px solid white;
  background-color: #FFF;
}

/* line 551, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer la-input {
  height: 24px;
  max-width: 280px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 8px;
}

/* line 557, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer la-input div[id="la-input-underline"] {
  display: none;
}

/* line 564, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"], .canvasFormDialog.customCubeContainer input[type="text"], .canvasFormDialog.customCubeContainer .address-editor input {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 24px;
  width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px 16px 2px 16px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  text-indent: 0 !important;
  line-height: 1.5;
}

/* line 592, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"] :hover, .canvasFormDialog.customCubeContainer input[type="text"] :hover, .canvasFormDialog.customCubeContainer .address-editor input :hover {
  border: 1px solid #8DA7C5;
}

/* line 598, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"]:active, .canvasFormDialog.customCubeContainer input[id="la-input"]:focus, .canvasFormDialog.customCubeContainer input[type="text"]:active, .canvasFormDialog.customCubeContainer input[type="text"]:focus, .canvasFormDialog.customCubeContainer .address-editor input:active, .canvasFormDialog.customCubeContainer .address-editor input:focus {
  border: 1px solid #2776BD !important;
}

/* line 606, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"].requiredField, .canvasFormDialog.customCubeContainer input[type="text"].requiredField, .canvasFormDialog.customCubeContainer .address-editor input.requiredField {
  border-left: 4px solid #e53953 !important;
}

/* line 609, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"].requiredField:hover, .canvasFormDialog.customCubeContainer input[id="la-input"].requiredField:active, .canvasFormDialog.customCubeContainer input[id="la-input"].requiredField:focus, .canvasFormDialog.customCubeContainer input[type="text"].requiredField:hover, .canvasFormDialog.customCubeContainer input[type="text"].requiredField:active, .canvasFormDialog.customCubeContainer input[type="text"].requiredField:focus, .canvasFormDialog.customCubeContainer .address-editor input.requiredField:hover, .canvasFormDialog.customCubeContainer .address-editor input.requiredField:active, .canvasFormDialog.customCubeContainer .address-editor input.requiredField:focus {
  border-left: 4px solid #e53953;
}

/* line 616, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"].requiredField .editControlLabelContainer, .canvasFormDialog.customCubeContainer input[type="text"].requiredField .editControlLabelContainer, .canvasFormDialog.customCubeContainer .address-editor input.requiredField .editControlLabelContainer {
  border-left: 4px solid #e53953;
}

/* line 626, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer la-input.right-panel-filter input, .canvasFormDialog.customCubeContainer la-input.tab-panel-left-filter input {
  padding: 2px 16px 2px 24px;
  background: url("../images/png/icon-filter--default.png") no-repeat center left 4px !important;
}

/* line 630, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer la-input.right-panel-filter input:hover, .canvasFormDialog.customCubeContainer la-input.tab-panel-left-filter input:hover {
  background: url("../images/png/icon-filter--hover.png") no-repeat center left 4px !important;
}

/* line 635, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer la-input.right-panel-filter input:active, .canvasFormDialog.customCubeContainer la-input.tab-panel-left-filter input:active {
  background: url("../images/png/icon-filter--focus.png") no-repeat center left 4px !important;
}

/* line 640, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer la-input.right-panel-filter input:focus, .canvasFormDialog.customCubeContainer la-input.tab-panel-left-filter input:focus {
  background: url("../images/png/icon-filter--focus.png") no-repeat center left 4px !important;
}

/* line 689, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .ui-dialog-buttonpane {
  background-color: #eeeeee;
  border: none;
  border-top: 1px solid #dddddd;
  margin-top: 0 !important;
}

/* line 695, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .ui-dialog-buttonpane la-ripple {
  display: none;
}

/* line 703, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .ui-dialog-buttonset .cancelButton {
  background-color: transparent;
  border-color: transparent !important;
}

/* line 725, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid {
  border: 1px solid #BEBEBE;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 180px;
}

/* line 782, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell.dataGridCheckboxColumn .control-indicator {
  top: 3px;
  left: 4px;
}

/* line 794, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell input[type="checkbox"] {
  margin-left: 0;
  margin-top: 5px;
}

/* line 800, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default {
  color: #1B87c9;
  border: 1px solid #eeeeee;
  border-left: 0px;
  background: #eeeeee;
  background-image: none;
  font-weight: 500;
  cursor: pointer;
}

/* line 812, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column {
  color: #484848;
  border: 1px solid #BEBEBE;
  border-top: 0px;
  border-left: 0px;
  background: #E2E2E2;
  background-image: none;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/* line 825, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column .massMax, .canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column .massMin {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

/* line 837, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column span.slick-sort-indicator.slick-sort-indicator-asc,
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column span.slick-sort-indicator.slick-sort-indicator-desc {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 852, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--default.png") !important;
}

/* line 857, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--default.png") !important;
}

/* line 862, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover {
  color: #484848;
  border: 1px solid #BEBEBE;
  border-left: 0px;
  border-top: 0px;
  background: #D8D8D8;
  font-weight: 500;
  cursor: pointer;
}

/* line 871, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--focus.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 886, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--focus.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 903, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover .massMax {
  background-image: url("../images/png/chevron_expand--active.png") !important;
}

/* line 908, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover .massMin {
  background-image: url("../images/png/chevron_collapse--active.png") !important;
}

/* line 915, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:active {
  color: #ffffff;
  border: 1px solid #1B87c9;
  border-left: 0px;
  border-top: 0px;
  background: #1B87c9;
  font-weight: 500;
  cursor: pointer;
}

/* line 924, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:active .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--focus_FFF.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 939, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:active .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--focus_FFF.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 971, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header.slick-header-left {
  border-bottom: none;
}

/* line 976, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell {
  font-size: 0.8rem;
  color: #484848;
  border: 1px solid transparent;
  background-color: transparent;
  border-right: 1px solid #B7BFC8;
  border-bottom: 1px solid #B7BFC8;
  background-color: #FFF;
  line-height: 22px;
  position: absolute;
  z-index: 1;
  padding: 1px 2px 2px 2px;
  margin: 0;
  cursor: default;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

/* line 1008, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell input.del {
  width: 100% !important;
  height: 22px !important;
  display: block;
  background-size: 16px 16px !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  cursor: pointer;
  font-size: 0%;
}

/* line 1216, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .slick-cell {
  color: #484848;
  border: 1px solid transparent;
  border-right: 1px solid #B7BFC8;
  border-bottom: 1px solid #B7BFC8;
  background-color: #F2F2F2;
  display: block !important;
  background-size: 16px 16px !important;
}

/* line 1228, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .slick-cell .control-indicator {
  border: 1px solid #2776BD;
}

/* line 1235, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .slick-cell.dataGridHoverCell:hover {
  background-color: #fff;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  color: #484848;
  cursor: pointer;
}

/* line 1335, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:active .slick-cell,
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell.selected,
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .selected {
  color: #484848;
  border: 1px solid #9AC3F4;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: #D4E4F2;
}

/* line 1345, scss/ps/PS-Canvas-Page.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:active .slick-cell .control-indicator,
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell.selected .control-indicator,
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .selected .control-indicator {
  border: 1px solid #2776BD;
}

@media (max-width: 1200px) {
  /* line 1404, scss/ps/PS-Canvas-Page.scss */
  .canvasColumn {
    max-width: 100% !important;
  }
}

@media (max-width: 780px) {
  /* line 1416, scss/ps/PS-Canvas-Page.scss */
  .canvasFormDialog.customCubeContainer .powerCubeContent {
    width: 100%;
    padding: 16px;
    background-color: #f5f5f5;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  /* line 1449, scss/ps/PS-Canvas-Page.scss */
  .canvasFormDialog.customCubeContainer .componentContainer {
    min-width: 100%;
  }
  /* line 1459, scss/ps/PS-Canvas-Page.scss */
  .canvasFormDialog.customCubeContainer #MailingAddressGoogleMap {
    width: 85%;
  }
  /* line 1464, scss/ps/PS-Canvas-Page.scss */
  .canvasFormDialog.customCubeContainer .full-name-wrapper > div {
    margin-bottom: 8px;
  }
  /* line 1472, scss/ps/PS-Canvas-Page.scss */
  .canvasFormDialog.customCubeContainer .full-name-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 1476, scss/ps/PS-Canvas-Page.scss */
  .canvasFormDialog.customCubeContainer .full-name-wrapper la-input {
    width: 100%;
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  /* line 1489, scss/ps/PS-Canvas-Page.scss */
  .powerCubeContent {
    padding: 16px 8px;
  }
  /* line 1494, scss/ps/PS-Canvas-Page.scss */
  .cubeComponentContainer textarea {
    width: 80% !important;
  }
}

@media (max-width: 360px) {
  /* line 1503, scss/ps/PS-Canvas-Page.scss */
  .canvasFormDialog.customCubeContainer .section .canvasColumn {
    min-width: 350px !important;
  }
}
