.hiddenSection{
  display:none!important;
}

.userImageComponent{
  width:105px!important;
}

.relatedList .relatedItemFieldContainer.cubeComponentContainer .required input[id="la-input"], 
.relatedList .relatedItemFieldContainer.cubeComponentContainer .required input,
.relatedList .relatedItemFieldContainer.cubeComponentContainer .required .menuButton,
.relatedList .relatedItemFieldContainer.cubeComponentContainer .required input.ui-autocomplete-input {
  border-left:red 3px solid;
}

.canvasFormDialog.customCubeContainer .relatedList .componentContainer.subSectionItem{
  align-items: center;
}

.relatedListContainer .cubeComponentContainer .componentContainer.subSectionItem{
  min-width:180px;
}

.genericButton{
  overflow: unset;
    height: 40px;
    min-width: 40px;
    background-size: 40px 40px;
    background-position: center center;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.relatedListLabel{
  font-size: 1.5em;
  background-color: #EEE;
  width: 100%;
  padding: 0.5em 10px;
}

.componentContainer.componentContainer.subSectionItem {
  width: auto;
  margin: 10px;
}

.displayFlex{
  display: flex;
}

.searchAutoCompleteListItem a .searchAutoCompleteColumn {
  width: 100%!important;
  }
  
  .customCubeContainer.canvasFormDialog .section .label{
    -ms-flex-preferred-size:1em;
  }
 .multiSelectButtonContainer {
  left: auto!important;
  }
  
.canvasFormDialog.customCubeContainer header {
  background-color: #2763a6!important;
}

.cancelButton {
  padding: 8px 16px!important;
}

.canvasFormDialog.customCubeContainer header button {
  float: right;
}

.pageTileBox {
  width:100%
}

.la-toast {
  top:-100px!important;
  bottom:auto;
}

.la-toast-appear {
  top: 2%!important;
  bottom:auto;
}

.la-toast-disappear {
  top: -100px!important;
  bottom:auto;
}

.canvasFormDialog.customCubeContainer .section textarea {
  width: 100%;
  margin-top: 8px;
  height: 60px;
}

